<footer class="bg-dark" style="color:white">
  <div class="row">
    <div class="col-md-3">
      <ul>
          <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>

    <div class="col-md-3">
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
        <li><a>link</a></li>
      </ul>
    </div>
  </div>
</footer>
